{% extends 'accounts/main.html' %}
{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3>Password reset</h3>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form class="form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-info" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>


{% endblock content %}